body {
	background: #efefef;
	font-family: 'Lato', sans-serif;
}
img {
	max-width: 100%;
}
.wrapper {
	width: 70%;
	margin: 0 auto;
	padding: 10px;	
	outline: 3px solid red;
}
.wrapper .section{
	display: block;
	border-top: 1px solid #aaa;
	margin: 10px;
	padding: 10px;
}
.wrapper .section:after{
	clear: both;
	content:"";
	display: block;
	
}
.wrapper .section .aside-right{
	float: right;
}
.wrapper .section .aside-left{
	float: left;
}
.wrapper .section .aside-left,
.wrapper .section .aside-right{
	min-height: 300px;
	max-width: 300px;
	width: 30%;	
	outline: 3px solid red;
	background: url(bg-pattern2-perf.png);
	background-position: left top;
	background-size: auto 100%;  
}
.wrapper .clear-center{
	clear: both;
	padding: 10px;
	margin: 10px 0;
	background: #EAF9EB;
	border: 3px solid #CCDECD;
}
.wrapper .logo{
	width: 100%;
	text-align: center;
	text-decoration: underline;
}
.wrapper .nav{
	display: block;
	text-align: center;
	padding-bottom: 20px;
}
.wrapper .nav a{
	display: inline-block;
	padding: 6px 10px;
	border-bottom: 2px solid #cccccc;
	border-top: 2px solid #efefef;
	text-decoration: none;
	color: #333;
	margin: 0 10px;
	width: 18%;
}
.wrapper .nav a:hover{
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #efefef;
}