body {
	background: #efefef;
	font-family: 'Lato', sans-serif;
}
img {
	max-width: 100%;
}
.wrapper {
	width: 1000px;
	margin: 0 auto;
	outline: 3px solid red;
	padding: 10px;
}
.wrapper .section{
	display: block;
	border-top: 1px solid #aaa;
	margin: 10px;
	padding: 10px;
}
.wrapper .section:after{
	clear: both;
	content:"";
	display: block;
	
}
.wrapper .section .aside-right{
	float: right;
	min-height: 300px;
	outline: 3px solid red;
	width: 300px;
}
.wrapper .section .aside-left{
	float: left;
	min-height: 300px;
	outline: 3px solid red;
	width: 300px;
}
.wrapper .clear-center{
	clear: both;
	padding: 10px;
	margin: 10px 0;
	background: #EAF9EB;
	border: 3px solid #CCDECD;
}
.wrapper .logo{
	width: 100%;
	text-align: center;
	text-decoration: underline;
}
.wrapper .nav{
	display: block;
	text-align: center;
	padding-bottom: 20px;
}
.wrapper .nav a{
	display: inline-block;
	padding: 6px 10px;
	border-bottom: 2px solid #cccccc;
	border-top: 2px solid #efefef;
	text-decoration: none;
	color: #333;
	margin: 0 10px;
	width: 145px;
}
.wrapper .nav a:hover{
	border-top: 2px solid #cccccc;
	border-bottom: 2px solid #efefef;
}
.desktop-only {
	display: block;
}
.mobile-only, .tab-only{
	display: none;
}