.container-adaptive {
	width: 100%;
	max-width: 1000px;
}

@media screen and (max-width: 1000px) {
	.container-adaptive {
		width: auto;
	}
	.desktop-only {
		display: block;
	}
		
}
@media screen and (max-width: 800px) {
	.container-adaptive {
		width: auto;
	}
	.container-adaptive .section .aside-left,
	.container-adaptive .section .aside-right{
		width: 200px;
	}
	.container-adaptive .clear-center {
		background: #F9EAEF;
	}
	.container-adaptive .nav a{
		width: 123px;
	}
	.desktop-only {
		display: none;
	}
	.tab-only{
		display: block;
	}
}
@media screen and (max-width: 550px) {
	.container-adaptive {
		width: auto;
	}

	.container-adaptive .section .aside-left,
	.container-adaptive .section .aside-right{
		width: 100%;
		float: none;
		text-align: center;
	}
	.container-adaptive .clear-center {
		background: #EAEBF9;
	}
	.container-adaptive .nav a:hover {
		background: #E2C3C3;
	}
	.container-adaptive .nav a {
		display: block;
		width: auto;
	}
	.desktop-only, .tab-only {
		display: none;
	}
	.mobile-only{
		display: block;
		margin: auto;
	}
}	