
		@media screen and (max-width: 1000px) {
			.container-adaptive {
				width: 900px;
			}
				
		}
		@media screen and (max-width: 800px) {
			.container-adaptive {
				width: 700px;
			}
			.container-adaptive .section .aside-left,
			.container-adaptive .section .aside-right{
				width: 200px;
			}
			.container-adaptive .clear-center {
				background: #F9EAEF;
			}
			.container-adaptive .nav a{
				width: 123px;
			}
		}
		@media screen and (max-width: 550px) {
			.container-adaptive {
				width: 300px;
			}

			.container-adaptive .section .aside-left,
			.container-adaptive .section .aside-right{
				width: 100%;
				float: none;
				text-align: center;
			}
			.container-adaptive .clear-center {
				background: #EAEBF9;
			}
			.container-adaptive .nav a:hover {
				background: #E2C3C3;
			}
			.container-adaptive .nav a {
				display: block;
				width: auto;
			}
		}	